@import url('https://fonts.googleapis.com/css?family=Rajdhani');

* {
    font-family: 'Rajdhani', sans-serif;
}

#body {
    background: #f2f2f2;
}

.videoCanvas {
    width: 640px;
    height: 360px;
    background: #000;
}

.graph {
    width: auto;
    max-height: 360px;
}

#graph-wrapper {
    position: relative;
}

.graph-details {
    position: absolute;
    z-index: 11;
    width: 100%;
}

.graph-footer {
    position: absolute;
    z-index: 12;
    width: 100%;
    bottom: 0;
}